body{
	color: #90afc5;
	color: #336b87;
	color: #2a3132;
	color: #763623;

	color: #f1f1f2;
	color: #bcbabe;
	color: #a1d6e2;
	color: #1995ad;

	color: #ffccbb;
	color: #6eb5c0;
	color: #006c84;
	color: #e2e8e4;

	color: #d35c37;
	color: #bf9a77;
	color: #d6c6b9;
	color: #97b8c2;

	color: #5f968e;
	color: #bfdccf;
	color: #e05858;
	color: #d5c9b1;

	color: #506d2f;
	color: #2a2922;
	color: #f3ebdd;
	color: #7d5642;

	color: #f4cc70;
	color: #de7a22;
	color: #20948b;
	color: #6ab187;

	color: #04202c;
	color: #304040;
	color: #5b7065;
	color: #c9d1c8;

	color: #2988bc;
	color: #2f496e;
	color: #f4eade;
	color: #ed8c72;

	color: #d0e1f9;

	color: #91D4C2;
	color: #45BB89;
	color: #3D82AB;
	color: #003853;

	color: #DF0026;
	color: #45BB90;
	color: #91D4C2;
	color: #BC5F6A;
}